.checkbox-row {
	align-items: center;
	display: grid;
	grid-template-columns: auto 1fr;
}

.checkbox-row .custom-control {
	align-items: center;
	display: flex;
	margin-bottom: 0;
}

.checkbox-row .custom-control-label {
	position: relative;
}

.checkbox-row .custom-control-label::after {
	height: 1rem;
	left: 0;
	top: 0;
	width: 1rem;
}

.checkbox-row-content {
	grid-column: 2;
	min-width: 0;
}

.content-section-controls {
	max-height: 400px;
}

.cursor-pointer {
	cursor: pointer;
}
