#test-outline {
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-bottom: 30px;
	width: 75%;
	font-family: arial, sans-serif;
	font-size: 0.85em;
	line-height: 1.65em;
	color: #1a1a1a;
}

.test-name {
	font-family: arial;
	font-weight: bold;
	font-size: 2.0em;
	color: #4385E0;
	line-height: 2.0em;

	border-bottom: 10px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-style: solid;
	border-color: #EEEEEE;

	margin-bottom: 10px;
}

.block-head {
	font-weight: bold;
	text-transform: uppercase;
	color: #757575;
	padding-top: 10px;
}

.description-content {
	background-color: #FFFDBD;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;

	border-left: 1px;
	border-right: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #EDD861;
}

.test-block {
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-top: 1px;
	border-style: solid;
	border-color: #A2CDFC;
	background-color: #E3F1FF;
	padding-right: 10px;

}

strong {
	border-bottom: 1px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-style: dashed;
	border-color: #5C9EE6;
}

