html#{$cadmin-selector} .cadmin {
	.page-editor__shortcut-modal__shortcut {
		min-width: 85px;

		> kbd {
			border-color: $cadmin-secondary-l2;
		}
	}

	.page-editor__shortcut-modal__shortcut-description {
		line-height: 2;
	}
}
