		<div class="block">
			<div class="macro-name">
				${testname} <span class="expand">+</span>
			</div>

			<div class="macro-info">
				<div class="section">
					<div class="section-header">Description</div>
					<p>
						${description}
						<p>Test outline: <a href="${outlinelink}">Link</a>
					</p>
				</div>

				<div class="section">
					<div class="section-header">Location</div>
					<p>
						${location}
					</p>
				</div>

				<div class="section">
					<div class="section-header">Page Objects Referenced</div>
					<p>
						<ul>
							${pageobjects}
						</ul>
					</p>
				</div>
			</div>
		</div>

