<html>
	<head>
		<title>Macro List</title>
		<script type="text/javascript" src="${styledir}jquery.js"></script>
		<script type="text/javascript" src="${styledir}scripts.js"></script>
		<link rel="stylesheet" href="${styledir}macrostyle.css">
	</head>
	<body>

	<div id="macro-outline">
		<div class="title">
			Macro List
		</div>

		<table cellspacing=0 cellpadding=0 border=0>
			<tr>
				<td>
					<strong>Name</strong>
				</td>
				<td>
					<strong>Description</strong>
				</td>
				<td>
					<strong>Location</strong>
				</td>
				<td>
					<strong>Page Objects Referenced</strong>
				</td>
				<td>
					<strong>Method Outline</strong>
				</td>
			</tr>


	</body>
</html>