<html>
	<head>
		<title>${title}</title>
		<script type="text/javascript" src="${styledir}jquery.js"></script>
		<script type="text/javascript" src="${styledir}scripts.js"></script>
		<link rel="stylesheet" href="${styledir}macrostyle.css">
	</head>
	<body>

	<div id="macro-outline">
		<div class="macro-name">
			${macroname}
		</div>
		
		<div class="block-head">
			Description
		</div>
		<div class="description-content">
			${macrodescription}
		</div>

		<div class="block-head">
			Method Summary
		</div>

		<div class="">
			<ul>
				${tableofcontents}
			</ul>
		</div>

	</body>
</html>